# Environment variables
.env

# Database
activity.db
database.db

# Logs
role_log.txt
report_*.txt

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.venv
.env
.venv
pip-wheel-metadata/

# IDEs
.vscode/
.idea/

activity_bot.log

# Logging Archive
message_archive.db
message_archive.db-journal

# wsl1 specific
*.Identifier

